<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <app-category *ngFor="let category of categories" [category]="category">
        <a class="nav-item nav-link" [routerLink]="['app-products', category.name]">{{ category.id }}</a>
      </app-category>
      <button><img class='cart' src="https://image.flaticon.com/icons/svg/2/2772.svg" alt=""></button>
    </div>
  </div>
</nav>