<div class="row">
  <div class="card" style="width: 18rem;">
    <img src="{{product.image}}" height="200px" alt=""> <br>
    <div class="card-body">
      <p>
        Id: {{product.id}}<br>
        {{product.name}}<br>
        Description: {{product.description}}<br>
        Price: € {{product.price}} <br>
        Category Id: {{product.categoryId}}<br>
      </p>
      <button onclick='addCart()'>Add to cart</button>
    </div>
  </div>